html,
body {
    margin: 0;
    background: $primary;
    color: $secondary;

    //styleName: p;
    font-family: "Manrope", sans-serif;
    font-style: initial;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
}

.poster-logo {
    width: 85px;
    height: 23px;

    background: url(../assets/poster-logo.png);
}

.main {
    display: flex;

    .side-bar {
        background-color: $secondary;
        border-radius: 0px 20px 0px 0px;
        position: sticky;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 300px;
        color: $primary;

        .logo {
            display: flex;
            padding: 45px 35px;
            gap: 0.425em;
            line-height: 45.85px;
            color: #eee;
            font-family: "Roboto", sans-serif;
            font-size: 37px;
            font-style: normal;
            font-weight: 500;
            line-height: 43.85px;
            letter-spacing: 0em;
            text-align: left;

            img {
                width: 39.42px;
                height: 43.85px;
            }
        }

        .tabs {
            margin-top: 20px;

            .tab {
                width: 250px;
                height: 38px;
                margin: 0px 26px;
                padding: 10px;
                gap: 1em;
                display: flex;

                .side-bar-icon {
                    margin-top: 1.5px;
                    font-size: 1.5rem;
                    transform: translateY(-0.125rem);
                    line-height: 1;
                    vertical-align: middle;
                    display: inline-block;
                }

                .side-bar-arrow {
                    vertical-align: middle;
                }

                .side-bar-text {
                    min-width: 150px;
                    vertical-align: middle;
                    display: inline-block;
                }

                span {
                    vertical-align: middle;
                }
            }
        }
    }

    .page {
        margin-left: 5%;

        header {
            margin-top: 40px;
            top: 0;
            display: block;
            width: 100%;
            flex-direction: row;

            .page-title {
                margin: 0 0 10px 0;
                font-weight: bold;
                font-size: 38px;
                line-height: 52px;
            }
        }

        .page-content {
            margin-top: 40px;
            width: 100%;
        }
    }
}

.integrations {
    h3 {
        margin-bottom: 30px;
    }

    .active-integrations,
    .disabled-integrations {
        display: flex;
    }

    .active-integrations {
        margin-bottom: 50px;
    }

    .integration {
        display: flex;
        flex-direction: column;
        padding: 28px;
        width: 433px;
        height: 158px;
        margin-right: 20px;

        background: #ffffff;

        box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.25);
        border-radius: 30px;

        .integration-info {
            float: left;
        }

        .integration-name {
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
            margin-top: 0;
        }

        .integration-description {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            min-height: 32px;
        }

        .integration-logo {
            float: right;
            margin-top: 30px;
            margin-right: 8px;

            &.disabled {
                opacity: 0.5;
                filter: grayscale(100%);
            }
        }

        .integration-splitter {
            width: 424px;
            height: 0px;
            border: 1px solid #c9d1e1;
            margin: 20px 5.5px;
        }

        .integration-settings {
            text-transform: uppercase;

            width: 80px;
            height: 16px;
            left: 47.03px;
            top: 164px;

            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.08em;
            margin-top: 6px;
            margin-left: 27px;
            float: left;

            color: #8996b7;
        }

        .integration-toggle {
            float: right;
        }
    }
}

h.dropDownMenuWrapper {
    position: relative;
    width: 500px;
    height: 80px;
    border-radius: 8px;
    background: white;
    border: 1px solid #eee;
    box-shadow: 10px 10px 0 0 rgba(black, 0.03);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    * {
        box-sizing: border-box;
        text-align: left;
    }
    .dropDownMenuButton {
        border: none;
        font-size: inherit;
        background: none;
        outline: none;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 70px 0 20px;
        margin: 0;
        line-height: 1;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
    }
    .dropDownMenuButton--dark {
        color: #eee;
    }
    .iconWrapper {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        .bar1 {
            width: 100%;
            max-width: 28px;
            height: 3px;
            background: blue;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 9999px;
            transform: translate(-50%, calc(-50% - 8px));
            transition: all 0.2s ease;
        }
        .bar1--dark {
            background: #eee;
        }
        .bar1--open {
            transform: translate(-50%, -50%) rotate(45deg);
            margin-top: 0;
            background: red;
        }
        .bar2 {
            width: 100%;
            max-width: 28px;
            height: 3px;
            background: blue;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 9999px;
            opacity: 1;
            transform: translate(-50%, -50%);
            transition: all 0.2s ease;
        }
        .bar2--dark {
            background: #eee;
        }
        .bar2--open {
            opacity: 0;
        }
        .bar3 {
            width: 100%;
            max-width: 28px;
            height: 3px;
            background: blue;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 9999px;
            transform: translate(-50%, calc(-50% + 8px));
            transition: all 0.2s ease;
        }
        .bar3--dark {
            background: #eee;
        }
        .bar3--open {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            background: red;
        }
    }
    .iconWrapper--noTitle {
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: auto;
        height: auto;
        transform: none;
    }
    .dropdownMenu {
        position: absolute;
        top: 100%;
        width: 100%;
        min-width: 300px;
        min-height: 10px;
        border-radius: 8px;
        border: 1px solid #eee;
        box-shadow: 10px 10px 0 0 rgba(black, 0.03);
        background: white;
        padding: 10px 30px;
        animation: menu 0.3s ease forwards;
        .menuArrow {
            width: 20px;
            height: 20px;
            position: absolute;
            top: -10px;
            left: 20px;
            border-left: 1px solid #eee;
            border-top: 1px solid #eee;
            background: white;
            transform: rotate(45deg);
            border-radius: 4px 0 0 0;
        }
        .menuArrow--dark {
            background: #333;
            border: none;
        }
        .option {
            width: 100%;
            border-bottom: 1px solid #eee;
            padding: 20px 0;
            cursor: pointer;
            position: relative;
            z-index: 2;
            &:last-child {
                border-bottom: 0;
            }
            * {
                color: inherit;
                text-decoration: none;
                background: none;
                border: 0;
                padding: 0;
                outline: none;
                cursor: pointer;
            }
        }
        .desc {
            opacity: 0.5;
            display: block;
            width: 100%;
            font-size: 14px;
            margin: 3px 0 0 0;
            cursor: default;
        }
    }
    .dropdownMenu--dark {
        background: #333;
        border: none;
        .option {
            border-bottom: 1px solid #888;
        }
        * {
            color: #eee;
        }
    }
    @keyframes menu {
        from {
            transform: translate3d(0, 30px, 0);
        }
        to {
            transform: translate3d(0, 20px, 0);
        }
    }
}

.dropDownMenuWrapper--noTitle {
    padding: 0;
    width: 60px;
    height: 60px;
}

.dropDownMenuWrapper--dark {
    background: #333;
    border: none;
}
