html,
body {
    margin: 0;
    background: $primary;
    color: $secondary;

    //styleName: p;
    font-family: "Manrope", sans-serif;
    font-style: initial;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    height: 100%;
    /* identical to box height */
}

#app {
    height: 100%;
}

.container {
    height: 100%;
}

.main {
    display: flex;
    min-height: 100%;
    height: 100%;

    .side-bar {
        height: 100%;
        min-height: 100%;
        background-color: $secondary;
        border-radius: 0px 20px 0px 0px;
        left: 0;
        top: 0;
        max-width: 302px;
        color: $primary;
        display: flex;
        flex-direction: column;

        .logo {
            display: flex;
            padding: 45px 35px;
            gap: 0.425em;
            line-height: 45.85px;
            color: #eee;
            font-family: "Roboto", sans-serif;
            font-size: 37px;
            font-style: normal;
            font-weight: 500;
            line-height: 43.85px;
            letter-spacing: 0em;
            text-align: left;

            img {
                width: 39.42px;
                height: 43.85px;
            }
        }

        .hover {
            background-color: $primary;
            color: $secondary;
        }

        .tabs {
            margin-top: 20px;

            .tab {
                cursor: pointer;
                width: 225px;
                margin: 18.9px 26px;
                margin-bottom: 0px;
                padding: 10px;
                gap: 1em;
                display: flex;
                justify-content: left;
                align-items: center;
                border-radius: 90px;

                &:last-child {
                    margin-top: 10px;
                }

                .side-bar-icon {
                    line-height: 1px;
                }

                .side-bar-arrow {
                    vertical-align: middle;
                }

                .side-bar-text {
                    min-width: 150px;
                    vertical-align: middle;
                    display: inline-block;
                }

                span {
                    vertical-align: middle;
                }
            }

            .tab-options {
                background-color: $primary;
                color: $secondary;
                margin: 10px 46px;
                margin-top: 0;
                cursor: pointer;
                width: 205px;
                align-items: center;
                border-radius: 0px 0px 10px 10px;

                .tab-option {
                    padding: 5px 21px;

                    &:last-child {
                        padding-bottom: 10px;
                    }

                    &::marker {
                        margin-right: 0;
                    }

                    span {
                        position: relative;
                        left: 6.2px;
                    }
                }
            }
        }

        .tabs-splitter {
            width: 250px;
            height: 0px;
            opacity: 0.5;

            border-top: 1px solid #f7f9fc;
            margin: 18px 26px;
            flex: none;
            order: 8;
            flex-grow: 0;
        }

        .tabs-back {
            width: 225px;
            margin: 0px 26px;
            padding: 10px;
            gap: 1em;
            display: flex;
            justify-content: left;
            align-items: center;

            span {
                color: $primary-opacity;
            }

            &:hover {
                cursor: pointer;
                background: rgba(255, 255, 255, 0.05);
                border-radius: 90px;

                span {
                    color: $primary;
                }
            }
        }

        .side-bar-minimize {
            background: rgba(255, 255, 255, 0.05);
            border-radius: 90px;
            width: 250px;
            height: 40px;
            display: flex;
            align-items: center;
            margin: 27px 26px;
            gap: 0.42rem;
            justify-content: center;
            bottom: 0;
            margin-top: auto;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .page {
        margin-left: 46px;

        header {
            margin-top: 40px;
            margin-bottom: 30px;
            top: 0;
            display: block;
            width: 100%;
            flex-direction: row;

            .page-title {
                margin: 0 0 10px 0;
                font-weight: bold;
                font-size: 38px;
                line-height: 52px;
            }

            .page-description {
                color: $secondary-text;
            }
        }

        .page-content {
            margin-top: 30px;
            width: 100%;
        }
    }
}

.integrations {
    h3 {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
    }

    .active-integrations,
    .disabled-integrations {
        display: flex;
    }

    .active-integrations {
        margin-bottom: 50px;
    }

    .integration {
        display: flex;
        flex-direction: column;
        padding: 28px;
        width: 433px;
        height: 158px;
        margin-right: 20px;

        background: #ffffff;

        box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.25);
        border-radius: 30px;

        .integration-info {
            float: left;
        }

        .integration-name {
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
            margin-top: 0;
        }

        .integration-description {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            min-height: 32px;
        }

        .integration-logo {
            background-size: 50px;
            height: 60px;
            width: 60px;
            float: right;

            &.disabled {
                opacity: 0.5;
                filter: grayscale(100%);
            }
        }

        .integration-splitter {
            width: 424px;
            height: 0px;
            border-top: 1px solid #c9d1e1;
            margin: 20px 4.5px;
        }

        .integration-settings {
            text-transform: uppercase;

            width: 80px;
            height: 16px;
            left: 47.03px;
            top: 164px;

            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.08em;
            margin-top: 6px;
            margin-left: 27px;
            float: left;

            color: #8996b7;
        }

        .integration-toggle {
            float: right;
        }
    }
}

.apple {
    background: url(~@/assets/images/apple.png) no-repeat;
}
.amazon {
    background: url(~@/assets/images/amazon.png) no-repeat;
}
.microsoft {
    background: url(~@/assets/images/microsoft.png) no-repeat;
}
.vmware {
    background: url(~@/assets/images/vmware.png) no-repeat;
}
.google {
    background: url(~@/assets/images/google.png) no-repeat;
}
